/* Write your CSS in*/

* {
    box-sizing: border-box;  
    margin: 0; 

}

/*

---PAGE ONE: LIST OF CARDS (ARTCLE CARD.JS AND LIST.JS)---

*/ 

.pageWrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 25px;
    width: 100%; 
}

.pageWrapper > h1 {
    font-size: 64px; 
    font-weight: 400; 
}
 
.articleCard {
    display: flex; 
    border: 1px solid; 
    height: 250px; 
    padding: 10px; 
    margin: 25px; 
    overflow: hidden;        /*So far I'm just hidding the text if it overflows*/

}

/* Try to wrap the text*/
.textWrapper {
    display:flex;
    flex-direction: column;
    flex-basis: 60%;
    margin-left: 40px; 

}

.textWrapper > h2 {
    font-size: 32px; 
}

/* Giving each item in textWrapper some extra space 

    --Try to fix the last child's spacing

*/

.item {
    padding: 10px;
}

/* Working on the image */ 
.imageWrapper {
    display: flex;
    background-color: grey; 
    flex-basis: 30%;
    height: auto; 
    width: 100%;  
}


/* 

---PAGE 2: ARTICLE PAGE (ARTICLE.JS)---

*/ 

.headerSection {
    display: flex; 
    padding: 40px 25px; 
    flex-direction: column; 
}

/* Container with our words */
.headerText {
    margin: 0 auto;
    width: 100%; 
    max-width: 824px; 
}

/*Tackling the first header*/
.headerText > h1 {
    font-size: 64px; 
    font-weight: 400; 
}

/*Tackling the blurb and the date */
.headerBlurb, .headerText > p {
    font-size: 20px;
    padding: 10px;
}

/*Giving the text some margin*/ 

.articleBody {
    margin: 50px 150px; 
}

.articleBody > p, .articleBody > h2 {
    padding-bottom: 20px; 
}


